body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  width: 100%;
}

.timeline li {
  margin-bottom: 50px;
  position: relative;
  display: flex;
}
.timeline .panel {
  width: 46%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
  box-shadow: 3px 3px 12px #dee1e4, -3px -3px 12px #ffffff;
}

.timeline p {
  padding: 0 20px 10px 20px;
}
.timeline summary {
  display: block;
  user-select: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  margin-bottom: 0px;
  transition: all 600ms cubic-bezier(0.2, 1, 0.3, 1);
  font-weight: 600;
}

.timeline .panel[open] summary {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.timeline summary:hover {
  background: #f8f8f8;
}

.timeline:before {
  top: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: '';
  width: 5px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px #dee1e4, -1px -1px 5px #ffffff;
}

.timeline li:before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 50%;
  background: #f8f8f8;
  margin-left: -11px;
  z-index: 99;
  box-shadow: 2px 2px 5px #dee1e4, -2px -2px 5px #ffffff;
}
.timeline li:nth-child(even) {
  justify-content: flex-end;
}
